<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" herf="home.css"/>
    <title>home</title>
</head>
<body>
<h1>home</h1>
<font color = "red">This is red!</font>
<h1>Do you like it?</h1>
<table bgcolor="red" width="500" border="5">
    <tr>            <!--Table row-->
        <td><font color="#00ffff"><b>This is good!</b></font> </td> <!--Table data-->
        <td><sup>V</sup>Don't you think so?</td>
        <td><sub>A</sub>Yes</td>
        <td>Look how good it is!<hr></td>
        <td>Oh I have to end it!</td>
    </tr>
</table>
<h2>This is my home!</h2>
<h3>Yes, I like it!</h3>
</body>
</html>